h1 {
    border-style: groove;
    border-width: thick;
    border-color: red;
    border-radius: 50px;
    text-align: center;
}

ul {
    border-style: dotted;
    border-width: thick;
    border-color: rgb(7, 3, 241);
}